.footer{
    width:100%;
    height: auto;
    background-color: #12232E;
    text-align: center;
    color:white;
   margin-top: auto;
   overflow-x: hidden;
   bottom: 0;
}
.footer ul{
    list-style: none;
    
    }
.footer li{
        margin-top: 8px;
    }
.footer a{
        text-decoration: none;
        color:white;  
    }
.footer a:hover{
        cursor: pointer;
        text-decoration: underline;
    }

 .payment{
    font-size: 30px;
    align-items: center;
    justify-content: space-evenly;
    margin:15px;
 }