.nav{
    background-color: #12232E;
    height:max-content;
    padding:2%;
    width:100%;
    margin:auto;
   
}
.pageName{
    color:white;
    text-decoration: none;
}

@media (max-width:575px){
    .nav{
        width:max-content;
        background-color: inherit;
        
    }
    
}